/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background: url('../images/background.png');
	min-width: 660px;
	height: 768px;
	width: 100%;
	margin: 0;
	padding: 0;
	display: block;
}
div#header {
	background: url('../images/strip.png');
	background-repeat:repeat-x;
	background-position: top center;
	width: 100%;
	height: 35%;
	display: block;
	margin: 0;
	padding: 0;
}
div#header div#logo {
	background: url('../images/logo.png');
	background-repeat:no-repeat;
	background-position: center center;
	width: 100%;
	height: 100%;
	min-height: 74px;
	display: block;
	margin: 0;
	padding: 0;
}
div#construction {
	background: url('../images/under.png');
	background-repeat:no-repeat;
	background-position: center center;
	width: 100%;
	height: 30%;
	min-height: 143px;
	display: block;
	margin: 0;
	padding: 0;
}
div#footer {
	background: url('../images/thank.png');
	background-repeat:no-repeat;
	background-position: center center;
	width: 100%;
	height: 30%;
	min-height: 82px;
	display: block;
	margin: 0;
	padding: 0;
}